<nav class="sticky top-0 bg-white w-full flex flex-row justify-between md:flex-col md:justify-normal md:w-[300px] p-6 mr-3">
  <div class="inline-block md:block md:w-full">
    <h1 class="text-2xl md:text-4xl font-400 md:text-right md:mt-[90px]">
      <a href="/">
        Sadi<br/>
        Muktadir
      </a>
    </h1>
  </div>
  <div class="inline-block md:block md:mt-6">
  {% for item in site.data.navigation.items %}
    <div class="nav-item text-right mb-2">
      <a
        href="{{ item.link | relative_url }}"
        class="md:text-lg text-accent font-light {% if item.italics %}italic{% else %}uppercase{% endif %} {% if clean_item_link == clean_page_url %}current{% endif %}">
        {{ item.name }}
      </a>
    </div>
  {% endfor %}
  </div>
</nav>