<div class="w-[220px] text-center mb-4">
  <div class="bg-[#CED7E4]">
    <a href="{{include.item.link}}" target="_blank">
      {% if include.item.thumbnail %}
      <img src="{{ include.item.thumbnail }}">
      {% else %}
      <div class="w-full h-[220px]"></div>
      {% endif %}
    </a>
  </div>
  <h3 class="leading-6 mt-2">
    <a href="{{include.item.link}}" target="_blank">
      {{ include.item.name | strip }}
    </a>
  </h3>
  <h3 class="leading-6">
  {% if include.item.italics %}
    <em>
      {{ include.item.publisher | strip }}
    </em>
  {% else %}
    {{ include.item.publisher | strip }}
  {% endif %}
  </h3>
</div>