---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "IBM Plex Mono", system-ui, sans-serif;
  }
  p {
    margin-bottom: 0.7rem;
  }
  p strong {
    font-weight: 500;
  }
  h1, h2 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.7rem;
    font-weight: 500;
  }
  h1:not(:first-of-type), h2:not(:first-of-type) {
    margin-top: 2.7rem;
  }

  main {
    a:link, a:hover, a:active, a:visited {
      color: #E4553F;
      text-decoration: underline;
    }
  }
}