---
layout: default
---

<main class="flex flex-col md:flex-row">
  <div class="text-center md:h-screen">
    <img class="md:h-full" src="{{ site.data.book_info.cover_image }}">
  </div>
  <div class="md:w-[340px] p-4">
    <div class="mb-6 font-thin">
      {{ content }}
    </div>
    <div class="py-4">
      {% include button.html button_url=site.data.book_info.first_button_url button_text=site.data.book_info.first_button_text %}
    </div>
    <div>
      {% include button.html button_url=site.data.book_info.second_button_url button_text=site.data.book_info.second_button_text %}
    </div>
  </div>
</main>