---
layout: text
---

<div class="leading-10">
{% assign fiction = site.data.works.items | where: "category", "fiction" %}
{% assign nonfiction = site.data.works.items | where: "category", "nonfiction" %}

<h2 class="text-center md:text-start">Fiction</h2>

<div class="flex flex-row w-full flex-wrap gap-3 justify-center md:justify-start">
{% for item in fiction %}
  {% include work_item.html item=item %}
{% endfor %}
</div>

<h2 class="text-center md:text-start">Non-fiction</h2>

<ul class="text-center md:text-start">
{% for item in nonfiction %}
<li>
  <a href="{{item.link}}" target="_blank">{{ item.name | strip }}</a>
  -
  {% if item.italics %}
    <em>
      {{ item.publisher | strip }}
    </em>
  {% else %}
    {{ item.publisher | strip }}
  {% endif %}
</li>
{% endfor %}
</ul>
</div>